/* Main content area to fill the space between navbar and footer */
/* Main content area for registration */
/* .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

#registration_form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    padding: 2em; /* Adjust padding inside the form */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.reg-btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Container should fill available space */
/* Conainer for home page */
.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 2em; /* Adjust padding for internal space */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Style for the h1 to be centered */
h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

/* Navbar styling */
nav {
    background-color: #333;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.welcome-message {
    color: white;
    font-weight: bold;
}


/* Responsive navbar */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav ul li a {
        width: 100%;
    }
}

/* Footer styling */
/* footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: 0;
} */


/* Responsive Footer */
@media (max-width: 768px) {
    footer {
        font-size: 14px;
        padding: 15px;
    }
}

/* Additional styling for smaller screens */
@media (max-width: 480px) {
    nav ul li a {
        font-size: 14px;
        padding: 6px 12px;
    }

    footer {
        font-size: 12px;
    }
}
