/* General body styles */
html, body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

label, input, select, button {
    margin: 5px 0;
}
button {
    padding: 5px 10px;
}

/* make links look like submit buttons */
.btn{
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
